<div id="price-rules" class="mt-4">
    <h1 class="fs-3 text-center">Allgemeine Regelungen</h1>
    <p class="text-center"> Stand 12.02.2020 </p>

    <section class="mt-4 container-fluid">
        <h2 class="fs-4">
            Anreise
        </h2>
        <p>Check in: ab 17:00 bis 20:00.</p>
        <p>Check out: bis spätestens 11:00.</p>
        <p>Siw werden einen Tag vor der Anreise zu Details informiert.</p>
    </section>

    <section class="container-fluid">
        <h2 class="fs-4">
            Verhalten
        </h2>
        <p>Keine Partys erlaubt. Es gelten Ruhezeiten zwischen 22:00 und 8:00.</p>
        <p>Rauchen ist in der Wohnung nicht gestattet. </p>
        <p>Zur Erhöhung des Wohlfühlens bitte keine Straßenschuhe tragen. Hausschuhe gerne mitbringen.</p>
        <p>Mitnahme von Haustieren nicht gestattet.</p>
        <p>Bitte beachten Sie die Hausmappe zu Check-out und energiebewusstem Verhalten. Herzlichen Dank!</p>
    </section>
</div>
