<div id="rating-page" class="mt-4">
    <div class="row">
        <div class="col col-lg-6">
            <p class="fs-7">Der Deutsche Tourismusverband (DTV) würdigt Qualität und Ausstattung für bis zu 5 Personen.</p>
            <img src="/images/rating/rating_1.png" class="rating-certificate" alt="Deutsche Tourismusverband">
        </div>
        <div class="col col-lg-6">
            <img src="/images/rating/rating_2.png" class="rating-image" alt="Booking.com bewertungen">
            <img src="/images/rating/rating_3.png" class="rating-image" alt="Booking.com bewertungen">
        </div>
    </div>
</div>
