<div id="room-page">
    <section id="carousel">
        <div class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="7" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="8" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="9" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_1.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_2.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_3.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_4.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_5.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_6.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_7.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_8.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_9.jpg" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/homepage/carousel_10.png" class="carousel-images d-block w-100" aria-hidden="true">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev" aria-hidden="true" tabindex="-1">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next" aria-hidden="true" tabindex="-1">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </section>

    <section class="mt-4">
        <!-- Card 1-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <div id="card1-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/homepage/section3_1.jpg" class="d-block w-100" alt="Schlafzimmer Süd">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/roompage/card1_1.jpg" class="d-block w-100" alt="Schlafzimmer Süd">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/roompage/card1_2.jpg" class="d-block w-100" alt="Schlafzimmer Süd">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#card1-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#card1-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">SCHLAFZIMMER SÜD</h5>
                        <p class="card-text mt-4">
                            Fühlen Sie sich in 180 x 200 wie Zuhause.
                            Genießen Sie das große weiße Doppelbett aus Holz mit hochwertigen frischen Daunenbetten,
                            neuen festen Matrazen und einem schönen Blick in den ruhigen Stadtgarten.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 2-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/images/roompage/card2_1.jpg" class="card-image img-fluid rounded-start" alt="Schlafzimmer Nord">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">SCHLAFZIMMER NORD 1</h5>
                        <p class="card-text mt-4">
                            Willkommen im klassischen Holzbett Bett zum Träumen. Genießen Sie 180 x 200 mit
                            echten frischen Daunenfedern, neuer fester Matraze und romantischem Kronleuchter in entsprechender
                            Deckenhöhe zum Wohlfühlen in unmittelbarer Nähe der historischen Altstadt.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 3-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <div id="card3-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/roompage/card3_1.jpeg" class="d-block w-100" alt="Schlafsofa">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/roompage/card3_2.jpeg" class="d-block w-100" alt="Schlafsofa">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#card3-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#card3-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">SCHLAFZIMMER NORD 2</h5>
                        <p class="card-text mt-4">
                            Genießen Sie erholsamen Schlaf im 160 x 200 großen Bett mit Platz für zwei Personen und hohem Komfort.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 4-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <div id="card4-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/roompage/card4_2.jpg" class="d-block w-100" alt="Wohnzimmer">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/roompage/card4_1.jpeg" class="d-block w-100" alt="Wohnzimmer">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/roompage/card4_3.jpg" class="d-block w-100" alt="Wohnzimmer">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#card4-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#card4-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">WOHNZIMMER MIT STIL</h5>
                        <p class="card-text mt-4">
                            Hier fühlen Sie sich wie Zuhause. Sie verfügen über eine große Sofalandschaft,
                            einen Smart-TV, DVD-Blueray-Player, Sekretär für Ihre Schreibarbeiten und einen
                            Balkon mit Terrasse und Gartenzugang im Erdgeschoss.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 5-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <div id="card5-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/roompage/card5_1.jpg" class="d-block w-100" alt="Wohnküche">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/homepage/section2_2.jpg" class="d-block w-100" alt="Wohnküche">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/homepage/section4_1.jpg" class="d-block w-100" alt="Wohnküche">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#card5-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#card5-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">WOHNKÜCHE ZUM WOHLFÜHLEN</h5>
                        <p class="card-text mt-4">
                            Nehmen Sie Platz mit bis zu sechs Personen und bereiten Sie sich Ihr Menü.
                            Es erwartet Sie eine neue Küche mit einer Vollausstattung für Ihren perfekten Aufenthalt.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 6-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <div id="card6-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/roompage/card6_2.jpg" class="d-block w-100" alt="Wohnküche">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/roompage/card6_1.jpg" class="d-block w-100" alt="Wohnküche">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/roompage/card6_3.jpg" class="d-block w-100" alt="Wohnküche">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#card6-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#card6-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">MODERNES BAD IM HISTORISCHEN STIL</h5>
                        <p class="card-text mt-4">
                            Sie finden ein neues Badezimmer mit historischen Elementen.
                            Die große bodentiefe Regendusche bietet Ihnen Erholung von Ihren Ausflügen oder am Ende Ihres Arbeitstages.
                            Handtücher, Fön, Startset Toilettenpapier und Seife sind für Sie vorbereitet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
