<div id="thank" class="container rounded-4">
    <div class="container-fluid mt-5 py-5">
        <h1 class="display-5 fw-bold text-center">Vielen Dank für Ihre Nachricht!</h1>
        <p class="col-12 fs-4 text-center">Wir werden uns so schnell wie möglich bei Ihnen melden. </p>
        <p class="col-12 fs-4 text-center pt-3"><a href="/">Zurück zur Homepage </a></p>
    </div>
</div>
