<footer role="contentinfo" id="footer">
    <ul class="mx-3 py-4 justify-content-center row d-flex flex-column flex-sm-row list-unstyled">
        <li class="col py-2 d-flex align-items-center justify-content-center">
            <script>
              document.write('&copy; ' );
              document.write(new Date().getFullYear());
              document.write('<a href="/" class="mx-3">' + ' Lieblingsnest.net' + '</a> ');
            </script>
        </li>
        <li class="col py-2 d-flex align-items-center justify-content-center">
            <img src="/images/footer/address.svg" height="25" aria-hidden="true" alt="map icon"/>
            <a class="footer-link px-2" href="https://maps.app.goo.gl/WgpG7dXPnP6v9kj6A">Woldemarstraße 41, 32756 Detmold</a>
        </li>
        <li class="col py-2 d-flex align-items-center justify-content-center">
            <img src="/images/footer/facebook.svg" height="25" aria-hidden="true" alt="mail icon"/>
            <a class="footer-link px-2" href="https://www.facebook.com/lieblingsnest">Facebook</a>
        </li>
    </ul>
</footer>
