#homepage .carousel-images {
    display: block;
    max-height: 20rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

    @media (min-width: 1024px) {
        max-height: 35rem;
    }
}

#homepage  .section1-image {
    display: block;
    max-width: 43rem;
    max-height: 31rem;
    width: auto;
    height: auto;
}

#homepage .section2-image {
    display: block;
    max-height: 13rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#homepage .section3-image{
    display: block;
    min-height: 20rem;
    max-height: 20rem;
    width: 100%;
    height: auto;
    object-fit: fill;
    object-position: center;
}

#homepage .section4-image {
    max-width: 24rem;
    max-height: 20rem;
    width: 100%;
    height: auto;
    object-fit: fill;
    object-position: center;
}

#section4 {
    background-color: var(--yellow-200);
}
