:root {
  --beige-100: #fff9f3;
  --text-brown: #504530;
  --yellow-200: #face66e6; // (rgba(250, 206, 102, 0.9))
}

body {
  font-weight: 300;
  background-color: var(--beige-100);
  font-size: 14px;
  color: var(--text-brown) !important;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}
